# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
/hw/*.000
/hw/*.bak
/hw/*.bck
/hw/*.kicad_pcb-bak
/hw/*.sch-bak
/hw/*~
/hw/_autosave-*
/hw/*.tmp
/hw/*-save.pro
/hw/*-save.kicad_pcb
/hw/fp-info-cache
/hw/*-backups/*.zip
/hw/jlcpcb-import/Schematic/*_lib.bak
/hw/#auto_saved_files#

# Netlist files (exported from Eeschema)
/hw/*.net

# Autorouter files (exported from Pcbnew)
/hw/*.dsn
/hw/*.ses

# Exported BOM files
/hw/*.xml
/hw/*.csv
